# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

# Limit Python files to 99 characters
[*.py]
max_line_length = 99

# Smaller indent for YAML
[*.{yaml,yml}]
indent_size = 2

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
